body{
	margin: 0;
	padding:0;
	font-family: Quicksand;
}

nav {
    position: fixed;
    top: 0;
	left: 0;
	width: 100%;
	padding: 10px 100px;
	box-sizing: border-box;
	transition: .3s;
}

nav.black{
	background: rgba(0,0,0,0.8);
	height: 100px;
	padding: 10px 100px:
}

nav .logo{
	height: 100px;
	padding: 10px 20x;
	float:left;
	font-size: 24px;
	transition: .3s;
	
}


 nav.black .logo{`
  color:#fff;
 }
 
 
 
nav ul{
	list-style:nome;
	float: rigth;
	margin:0;
	padding:0;
	display: flex;
}

nav ul li{
	list-style:none;
}


nav ul li a{
	line-height:80px;
	color: #151515;
	padding: 12px 90px;
	text-decoration: none;
    text-transform: uppercase;
	transition: .3s

}

nav.black ul li a{outline: none;
}

 section.sec1{
	 width: 100%;
	 height: 100vh;
	 background-image: url(thanos.jpg);
	 background-size: cover;
 background-position: center;
 }
content{
margin-top:80px;
}

.content p {
	width:900px;
	margin:30px auto;
	text-align: justify;
	font-size:20px;
	line-height: 30px;
	
}
#topo_site{
	width:1500px;
	height:80px;
	background:#2f4f4f;
margin: 0;
}










	
 